/* Styles for popup window only (not loaded in content script) */
html, body {
  background-color: #ffffff;
  color: #333333;
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  font-size: 13px;
  width: 360px;
  min-height: 400px;
  max-height: 550px;
}
